[include]
  # For username / creds / etc
  path = ~/.gitconfig.local
[credential]
	helper = osxkeychain
[core]
	editor = emacs
[push]
	default = simple
[alias]
	sl = log --graph --all --decorate
	resolve-list = diff --name-only --diff-filter=U
[merge]
	 tool = ediff
[mergetool "ediff"]
	 cmd = emacsclient -c -a \"\"  --eval \"(ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$BASE\\\" nil \\\"$MERGED\\\")\"

[color "diff"]
   meta = black
   