[user]
	name = Jonathan Lessinger
	email = jonathan.lessinger@gmail.com
[github]
	user = JLessinger
	
[credential]
	helper = osxkeychain
[core]
	editor = emacs
[push]
	default = simple
[alias]
	sl = log --graph --all --decorate
	resolve-list = diff --name-only --diff-filter=U
[merge]
	 tool = ediff
[mergetool "ediff"]
	 cmd = emacsclient -c -a \"\"  --eval \"(ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$BASE\\\" nil \\\"$MERGED\\\")\"
